body{
  background-color: rgb(89, 88, 89);
}

.container-body{
  white-space: nowrap;
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 960px;
  height: 600px;
}

.search-container{
  position: absolute;
  float:left;
  display: block;
}

.search-container input{
  font-family: 'Lekton', sans-serif;
  border: 0;
  text-align: center;
  background-color: rgb(70, 70, 70);
  color: rgb(166, 165, 166);
  width: 960px;
  height: 35px;
}

/*Style Conteiner*/
.container {
  background-image: url("../img/1500825597927.gif");
  background-size: 960px 540px;
  background-repeat: no-repeat;
  overflow: auto;
  white-space: nowrap;
  position: absolute;
  margin: auto;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 960px;
  height: 540px;
}

/* Style Tabs*/
.tabs {
  font-family: 'Lekton', sans-serif;
  font-size: 19px;
  display: block;
  color: #000000;
  text-align: center;
  padding: 25px 31px;
  text-decoration: none;
  width: 130px;
}

.dropdown {
  position: relative;
  float:left;
  display: block;
}
.dropdown:hover{
  text-decoration: underline;
}

.dropdown-content {
  position: absolute;
  left: 0;
  right: 0;
  width: 192px;
  top: 84px;
  z-index: 1;
  overflow: hidden;
  height:0;
  transition: 0.7s ease;
}
/* Style Links*/
.dropdown-content a {
  font-family: 'Lekton', sans-serif;
  font-size: 15px;
  color: black;
  padding: 4px 8px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover::before{
  content: "< "; 
}

.dropdown-content a:hover::after{
  content: " >"; 
}

.dropdown:hover .dropdown-content {
  height: 456px;
}

/* Color Tabs*/
.backcolor1, .backcolor1 div{
  background-color: rgba(23, 97, 107, 0.7);
}
.backcolor2, .backcolor2 div{
  background-color: rgba(113, 205, 221, 0.7);
}
.backcolor3, .backcolor3 div{
  background-color: rgba(251, 234, 174, 0.7);
}
.backcolor4, .backcolor4 div{
  background-color: rgba(252, 206, 199, 0.7);
}
.backcolor5, .backcolor5 div{
  background-color: rgba(255, 128, 108, 0.7);
}